* {
  font-family: helvetica;
}

#title {
  position: relative;
  width: 100%;
}

h1 {
  position: absolute;
  top: -50px;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

nav {
  position: absolute;
  top: 120px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
}

nav a {
  text-decoration: underline;
  color: white;
}

#process {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: grey;
}

h3 {
  color: grey;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
  text-align: center;
}

#understand{
  padding-top: 10px;
}
